.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #dee2e6;
  padding: 10px;
  text-align: left;
}

.table th {
  background-color: #f8f9fa;
  font-weight: bold;
}

.table td {
  background-color: #ffffff;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
}

.table-responsive {
  
}
